<div>
  <br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  
  <div class="background">
  <h1 class = "header">ToDo List</h1>
  <br>
  <div class ="center">Here's where my search bar would go ________________________________</div>
  <br>
  <div class = "center">
  <table class>
    <tr>
      <th>Status<br>(Click to Change)</th>
      <th> </th>
      <th><br>Tasks</th>
    </tr>
    <!-- Viewing the array -->
    <tr *ngFor="let t of taskArray">
      <!--If the task is completed, then show the completed button.  If it's not completed, show "incomplete" in red.-->
      <td [hidden]="!t.completed"><button class="btns" *ngIf="t.completed" (click)="t.completed = !completeTask()">Complete</button></td>
      <td [hidden]="t.completed"><button class="btnsred" *ngIf="!t.completed" (click)="t.completed = completeTask()">Incomplete</button></td>
      <!--Strikethrough or not-->
      <td [hidden]="t.completed"><div class="tasks">{{t.task}}</div></td>
      <td [hidden]="!t.completed" class="completed">{{t.task}}</td>
      <!--If it's not being edited, then show the edit button-->
      <td [hidden]="t.editing"><button class="btns" *ngIf="!t.editing" (click)="t.editing = editingTask()">Edit</button></td>
      <!--When it IS being edited, show submit and cancel-->
      <td [hidden]="!t.editing"><input type="text" class="editInput" placeholder="Edit task" [(ngModel)]="taskEdit"/></td>
      <td [hidden]="!t.editing"><button class="btns" *ngIf="t.editing" (click)="editTask(t, taskEdit);t.editing = !editingTask()">Submit</button>&nbsp;</td>
      <!--Finds the index of the task you click on and deletes it-->
      <td><button class="btnsred" (click)="removeTask(taskArray.indexOf(t))">Delete</button></td>
    </tr>
  </table>
  </div>
  <br />
  <!--Calls the remainingtasks function which returns how many tasks are incomplete -- or !complete-->
  <div class = "center" *ngIf="remainingTasks() > 0">
      {{remainingTasks()}} tasks left to complete!
  </div>
  <div class="center" *ngIf="remainingTasks() == 0">
    <b><u><i><a href = "https://youtu.be/7Nt1HrgjveI?t=48">YOU DID ALL OF YOUR CHORES! CELLY WITH A COLD BREW AT THE PUB!</a></i></u></b>
  </div>
  <br><br><br>
  <div class = "center">
  <table>
    <tr>
      <td><b>Add a new task!</b></td>
    </tr>
    <tr>
      <!--Button calls the addtask function and-->
      <td><input type="text" placeholder="Example: Cut the grass" [(ngModel)]="task"/></td>
      <td><button class="btns" (click)="addTask()">Submit</button>&nbsp;</td>
    </tr>
  </table>
  </div>
  <br />
  <!-- Must use ngIf for the clear completed button -->
  <div class="center" *ngIf="minOne()">
    <button class="btns" (click)="clearCompleted()">Clear Completed</button>
  </div>
  </div>
  </div> 